flask==2.0.1
flask-socketio==5.1.1
flask-sqlalchemy==2.5.1
paramiko==2.8.1
pysnmp==4.4.12
cryptography==3.4.7
python-dotenv==0.19.0
requests==2.26.0
pyasn1==0.4.8
pysmi==0.3.4
pandas==2.2.1
xmltodict==0.13.0
openpyxl
urllib3
pytest
psutil==5.9.8
python-engineio==4.9.0
python-socketio==5.11.1
eventlet==0.35.1
